/* nav bar */

/* parte superiore */
.impagin-navbar {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
}

.impagin-navbar a {
  color: grey;
}

nav .row p {
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 5px;
  background-color: #00D7D2;
  border: 1px solid #00D7D2;
  font-size: 8pt;
  border-radius: 5px;
}

nav .row li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

nav .row a {
  text-decoration: none;
}

nav .ul_align ul {
  text-align: right;
}

.container-fluid .row .color-navbar a:hover {
  color: #0069FF;
  text-decoration: none;
}

/* parte inferiore */
.container-fluid .row .digital {
  color: #0069FF;
  font-weight: bold;
  font-size: 18pt;
}

.container-fluid .row .a_decoration a {
  color: black;
  font-size: 11pt;
}

.container-fluid .row .a_decoration {
  padding-top: 10px;
}

.container-fluid .row .a_decoration button {
  background-color: white;
  border-style: none;
}

.container-fluid .row .a_decoration a:hover {
  color: #0069FF;
  text-decoration: none;
}


.container-fluid .impagin-navbar button {
  border-color: #0069FF;
  color: #0069FF;
  font-weight: bold;
  position: relative;
  left: 100%;
  transform: translate(-100%, 0);
}

.container-fluid .impagin-navbar button:hover {
  background-color: #0069FF;
  color: white;
}

/* general primo blocco */
.sfondo_primoblocco {
  background-image: url("immagini/homeblue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
}

.primo_blocco h1 {
  color: white;
  font-size: 50pt;
  font-weight: bold;
}

.primo_blocco p {
  color: #CCDBFF;
  font-size: 18pt;
}

.log_in [class*="col-"] {
  margin-top: 10px;
}

.sign-in {
  width: 70%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px;
}

.sign-in h2 {
  font-weight: bold;
}

.sign-in input {
  width: 95%;
  border-style: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding:10px 10px;
}

.sign-in input:focus {
  border-color: #0069FF;
}


.sign-in button {
  width: 95%;
  border-style: none;
  font-weight: bold;
  font-size: 13pt;
}

.sign-in .create_account button{
  color: white;
  border: 1px solid #15CD72;
  background-color: #15CD72;
  border-radius: 5px;
  padding: 10px;
}

.sign-in .create_account button:hover{
  border: 1px solid #11C46C;
  background-color: #11C46C;
}

.sign-in .google button{
  color: black;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.sign-in .google button:hover{
  background-color: lightgrey;
}

.sign-in p {
  display: inline-block;
  color: grey;
}


/* secondo blocco */
